# Importing Librarys, preparing Data and building Basetable

Import Librarys

In [ ]:
import pandas as pd
import sqlalchemy as sa

Data Retrieval

In [ ]:
travel_tide_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766.us-east-2.aws.neon.tech/TravelTide"

Create Engine

In [ ]:
engine = sa.create_engine(travel_tide_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

#doublechecking if everything went correct
inspector = sa.inspect(engine)
table_names = inspector.get_table_names()
print(table_names)

['users', 'hotels', 'flights', 'sessions']

Initialize Dataframes

In [ ]:
tables = {}

for table_name in table_names:
    tables[table_name] = pd.read_sql(f"SELECT * FROM {table_name}", connection)

#save Tables in to Variables
users = tables['users']
hotels = tables['hotels']
flights = tables['flights']
sessions = tables['sessions']

Creating Main Table

In [ ]:
main_table_raw = pd.merge(left=sessions, right=users, how="left", on="user_id")

main_table_raw = pd.merge(left=main_table_raw, right=flights, how="left", on="trip_id")

main_table = pd.merge(left=main_table_raw, right=hotels, how="left", on="trip_id")

Filtering for relevant Data (after January 4th and for users with more than 7 sessions)

Enter Datechanges or Session Changes here:

In [ ]:
#Change Session starting date here:
session_start_point = "2023-01-04"
minimum_user_sessions_per_user = 7

In [ ]:
#restricting the date window
main_table_1 = main_table[main_table["session_start"] > session_start_point]

#users with >x sessions filter here
main_table_2 = main_table_1.groupby("user_id").filter(lambda x: len(x) > minimum_user_sessions_per_user)
#checking result
print(len(main_table_2))

49211

In [ ]:
len(main_table)

5408063

**Export CSV to prevent crashes in future calculations**

In [ ]:
from google.colab import files

# Export DataFrame to CSV
main_table_2.to_csv('Travel Tide filtered.csv', index=False)

# Download the CSV file
files.download('Travel Tide filtered.csv')

# Error Checks

In [ ]:
#finding duplicate checker
def find_duplicate_columns(df):
    duplicates = {}
    for i in range(df.shape[1]):
        col1 = df.iloc[:, i]
        for j in range(i + 1, df.shape[1]):
            col2 = df.iloc[:, j]
            if col1.equals(col2):
                if df.columns[i] not in duplicates:
                    duplicates[df.columns[i]] = [df.columns[j]]
                else:
                    duplicates[df.columns[i]].append(df.columns[j])
    return duplicates

print(find_duplicate_columns(main_table))

{}

In [ ]:
print(main_table.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5408063 entries, 0 to 5408062
Data columns (total 41 columns):
 #   Column                   Dtype
---  ------                   -----
 0   session_id               object
 1   user_id                  int64
 2   trip_id                  object
 3   session_start            datetime64[ns]
 4   session_end              datetime64[ns]
 5   flight_discount          bool
 6   hotel_discount           bool
 7   flight_discount_amount   float64
 8   hotel_discount_amount    float64
 9   flight_booked            bool
 10  hotel_booked             bool
 11  page_clicks              int64
 12  cancellation             bool
 13  birthdate                object
 14  gender                   object
 15  married                  bool
 16  has_children             bool
 17  home_country             object
 18  home_city                object
 19  home_airport             object
 20  home_airport_lat         float64
 21  home_airport_lon         float64
 22  sign_up_date             object
 23  origin_airport           object
 24  destination              object
 25  destination_airport      object
 26  seats                    float64
 27  return_flight_booked     object
 28  departure_time           datetime64[ns]
 29  return_time              datetime64[ns]
 30  checked_bags             float64
 31  trip_airline             object
 32  destination_airport_lat  float64
 33  destination_airport_lon  float64
 34  base_fare_usd            float64
 35  hotel_name               object
 36  nights                   float64
 37  rooms                    float64
 38  check_in_time            datetime64[ns]
 39  check_out_time           datetime64[ns]
 40  hotel_per_room_usd       float64
dtypes: bool(7), datetime64[ns](6), float64(12), int64(2), object(14)
memory usage: 1.4+ GB
None

In [ ]:
print(main_table_1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3102851 entries, 0 to 5408062
Data columns (total 35 columns):
 #   Column                   Dtype
---  ------                   -----
 0   session_id               object
 1   user_id                  int64
 2   trip_id                  object
 3   session_start            datetime64[ns]
 4   session_end              datetime64[ns]
 5   flight_discount          bool
 6   hotel_discount           bool
 7   flight_discount_amount   float64
 8   hotel_discount_amount    float64
 9   flight_booked            bool
 10  hotel_booked             bool
 11  page_clicks              int64
 12  cancellation             bool
 13  birthdate                object
 14  gender                   object
 15  married                  bool
 16  has_children             bool
 17  home_country             object
 18  home_city                object
 19  home_airport             object
 20  home_airport_lat         float64
 21  home_airport_lon         float64
 22  sign_up_date             object
 23  origin_airport           object
 24  destination              object
 25  destination_airport      object
 26  seats                    float64
 27  return_flight_booked     object
 28  departure_time           datetime64[ns]
 29  return_time              datetime64[ns]
 30  checked_bags             float64
 31  trip_airline             object
 32  destination_airport_lat  float64
 33  destination_airport_lon  float64
 34  base_fare_usd            float64
dtypes: bool(7), datetime64[ns](4), float64(9), int64(2), object(13)
memory usage: 707.2+ MB
None

# Quick overview

In [ ]:
print(main_table_2.info())

<class 'pandas.core.frame.DataFrame'>
Index: 49211 entries, 1788 to 5407814
Data columns (total 35 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   session_id               49211 non-null  object
 1   user_id                  49211 non-null  int64
 2   trip_id                  16702 non-null  object
 3   session_start            49211 non-null  datetime64[ns]
 4   session_end              49211 non-null  datetime64[ns]
 5   flight_discount          49211 non-null  bool
 6   hotel_discount           49211 non-null  bool
 7   flight_discount_amount   8282 non-null   float64
 8   hotel_discount_amount    6205 non-null   float64
 9   flight_booked            49211 non-null  bool
 10  hotel_booked             49211 non-null  bool
 11  page_clicks              49211 non-null  int64
 12  cancellation             49211 non-null  bool
 13  birthdate                49211 non-null  object
 14  gender                   49211 non-null  object
 15  married                  49211 non-null  bool
 16  has_children             49211 non-null  bool
 17  home_country             49211 non-null  object
 18  home_city                49211 non-null  object
 19  home_airport             49211 non-null  object
 20  home_airport_lat         49211 non-null  float64
 21  home_airport_lon         49211 non-null  float64
 22  sign_up_date             49211 non-null  object
 23  origin_airport           14270 non-null  object
 24  destination              14270 non-null  object
 25  destination_airport      14270 non-null  object
 26  seats                    14270 non-null  float64
 27  return_flight_booked     14270 non-null  object
 28  departure_time           14270 non-null  datetime64[ns]
 29  return_time              13652 non-null  datetime64[ns]
 30  checked_bags             14270 non-null  float64
 31  trip_airline             14270 non-null  object
 32  destination_airport_lat  14270 non-null  float64
 33  destination_airport_lon  14270 non-null  float64
 34  base_fare_usd            14270 non-null  float64
dtypes: bool(7), datetime64[ns](4), float64(9), int64(2), object(13)
memory usage: 11.2+ MB
None

In [ ]:
users.describe()

,user_id,session_start,session_end,flight_discount_amount,hotel_discount_amount,page_clicks
count,5.408063e+06,5408063,5408063,885796.000000,691380.000000,5.408063e+06
mean,3.988590e+05,2022-12-12 02:37:01.270522624,2022-12-12 02:40:35.487091968,0.139765,0.110950,1.876603e+01
min,0.000000e+00,2021-04-01 00:42:00,2021-04-01 00:43:40,0.050000,0.050000,0.000000e+00
25%,1.643270e+05,2022-08-30 12:52:00,2022-08-30 12:57:44.500000,0.100000,0.050000,7.000000e+00
50%,3.641720e+05,2023-01-28 09:13:00,2023-01-28 09:16:45,0.100000,0.100000,1.500000e+01
75%,6.031520e+05,2023-04-22 20:33:00,2023-04-22 20:37:01,0.200000,0.150000,2.300000e+01
max,1.020925e+06,2023-07-28 23:57:55,2023-07-29 01:57:55,0.850000,0.650000,2.421000e+03
std,2.707599e+05,NaN,NaN,0.085191,0.062021,2.218070e+01

In [ ]:
hotels.describe()

,nights,rooms,check_in_time,check_out_time,hotel_per_room_usd
count,1.918617e+06,1.918617e+06,1918617,1918617,1.918617e+06
mean,4.271452e+00,1.189341e+00,2022-12-28 01:29:14.870725376,2023-01-01 19:18:30.184679936,1.773054e+02
min,-2.000000e+00,0.000000e+00,2021-04-06 10:40:44.175000,2021-04-08 11:00:00,8.000000e+00
25%,1.000000e+00,1.000000e+00,2022-09-15 19:40:52.004999936,2022-09-20 11:00:00,9.900000e+01
50%,3.000000e+00,1.000000e+00,2023-02-09 10:56:12.884999936,2023-02-13 11:00:00,1.480000e+02
75%,6.000000e+00,1.000000e+00,2023-05-07 13:23:32.055000064,2023-05-12 11:00:00,2.220000e+02
max,1.070000e+02,6.000000e+00,2024-07-20 17:08:06.585000,2024-08-13 11:00:00,2.377000e+03
std,4.488629e+00,4.879645e-01,NaN,NaN,1.171834e+02

In [ ]:
flights.describe()

,seats,departure_time,return_time,checked_bags,destination_airport_lat,destination_airport_lon,base_fare_usd
count,1.901038e+06,1901038,1812304,1.901038e+06,1.901038e+06,1.901038e+06,1.901038e+06
mean,1.250864e+00,2023-01-08 23:52:40.265286400,2023-01-14 08:25:00.002649344,6.082093e-01,3.812213e+01,-8.329177e+01,6.443787e+02
min,0.000000e+00,2021-04-06 07:00:00,2021-04-09 07:00:00,0.000000e+00,-3.700800e+01,-1.579270e+02,0.000000e+00
25%,1.000000e+00,2022-09-29 07:00:00,2022-10-04 07:00:00,0.000000e+00,3.353500e+01,-1.123830e+02,2.026600e+02
50%,1.000000e+00,2023-02-15 08:00:00,2023-02-20 07:00:00,1.000000e+00,3.985800e+01,-8.775200e+01,3.960500e+02
75%,1.000000e+00,2023-05-18 07:00:00,2023-05-23 07:00:00,1.000000e+00,4.240900e+01,-7.377900e+01,6.375300e+02
max,1.200000e+01,2024-07-19 22:00:00,2024-08-19 18:00:00,1.300000e+01,5.878900e+01,1.747920e+02,2.998792e+04
std,6.404772e-01,NaN,NaN,7.172822e-01,8.062308e+00,4.447306e+01,1.097363e+03

In [ ]:
sessions.describe()

,user_id,session_start,session_end,flight_discount_amount,hotel_discount_amount,page_clicks
count,5.408063e+06,5408063,5408063,885796.000000,691380.000000,5.408063e+06
mean,3.988590e+05,2022-12-12 02:37:01.270522624,2022-12-12 02:40:35.487091968,0.139765,0.110950,1.876603e+01
min,0.000000e+00,2021-04-01 00:42:00,2021-04-01 00:43:40,0.050000,0.050000,0.000000e+00
25%,1.643270e+05,2022-08-30 12:52:00,2022-08-30 12:57:44.500000,0.100000,0.050000,7.000000e+00
50%,3.641720e+05,2023-01-28 09:13:00,2023-01-28 09:16:45,0.100000,0.100000,1.500000e+01
75%,6.031520e+05,2023-04-22 20:33:00,2023-04-22 20:37:01,0.200000,0.150000,2.300000e+01
max,1.020925e+06,2023-07-28 23:57:55,2023-07-29 01:57:55,0.850000,0.650000,2.421000e+03
std,2.707599e+05,NaN,NaN,0.085191,0.062021,2.218070e+01